<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогноз погоды</title>
</head>
<body>
    <h1>Прогноз погоды</h1>
    {% if error %}
        <div>
            <font color='red'>
            {{ error }}
            </font>
        </div>
    {% endif %}
    <table>
        <tr>
            <th align="center">
                Время:
            </th>
            <th align="center">
                температура: 
            </th>
            <th align="center">
                погода:
            </th>
            <th align="center">
                скорость ветра:
            </th>
        </tr>
        {% for d in data %}
        <tr>
            <td align="center">
                {% for time in  d.time %} {{ time }} {% endfor %}
            </td>
            <td align="center">
                {{ d.temperature_2m }} 
            </td>
            <td align="center">
                {{ d.weather_code }}
            </td>
            <td align="center">
                {{ d.wind_speed_10m }}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
